@page
@model UI.BiographyPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Biography</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biography.BiographyData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biography.BiographyData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biography.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biography.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biography.PlaceOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biography.PlaceOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biography.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biography.Nationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biography.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biography.Author.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Biography.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
