@page
@model UI.BookCategoryPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Book Category</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
