@model IEnumerable<Data.Model.Product>

@{
    ViewData["Title"] = "Index";
}

<!-- Заглавие на страницата -->
<h1>Продукти</h1>
<!-- /Заглавие на страницата -->

<!-- Бутон Добави -->
<p class="pull-right">
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus"></i> Добави
    </a>
</p>
<!-- /Бутон Добави -->

<!-- Таблица с продукти -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <!-- Бутони за редакция, детайли и изтриване на продукт -->
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                            <i class="far fa-edit"></i> Редактирай
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                            <i class="far fa-file-alt"></i> Детайли
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Изтрий
                        </a>
                    </div>
                    <!-- /Бутони за редакция, детайли и изтриване на продукт -->
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Таблица с продукти -->
