@page
@model FDMC.IndexModel

@{
    ViewData["Title"] = "Cats";
}

<h1>Cats</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cat) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Image" width="100px" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
